.app-container {
  position: relative;
  height: 90vh;
  width: 99vw;
}

.google-map {
  height: 100%;
  width: 100%;
}

.sidebar-toggle {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 999;
}

.custom-offcanvas {
  width: 300px;
}

.search-container {
  margin-bottom: 20px;
}

.swap-button img {
  width: 20px;
  height: 20px;
}

.itinerary-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}

.troncon-details {
  margin-bottom: 10px;
}

.accordion-header {
  cursor: pointer;
  background-color: #f8f9fa;
}

.accordion-body {
  padding: 10px;
}

.remove-step-button, .step-up-button, .step-down-button {
  margin-left: 5px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

input.form-control {
  width: 200px;
}

hr {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.list-group-item-itinerary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.list-group-item-itinerary:hover,
.list-group-item-itinerary.selected {
  background-color: #e2e6ea;
  transform: scale(1.02);
}

.list-group-item-itinerary strong {
  font-size: 1.2em;
  color: #343a40;
}

.list-group-item-itinerary span {
  font-size: 1em;
  color: #495057;
}

.legend-box {
  position: absolute;
  top: 80px;
  right: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 5;
}

.legend-box h4 {
  margin: 0 0 10px 0;
}

.legend-box div {
  display: flex;
  align-items: center;
}

.legend-box input {
  margin-right: 5px;
}

.itinerary-box {
  position: absolute;
  top: 200px;
  right: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 5;
}

.itinerary-box h4 {
  margin: 0 0 10px 0;
}

.itinerary-box div {
  display: flex;
  align-items: center;
}

.itinerary-box input {
  margin-right: 5px;
}
